body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #1D7D81;
    color: white;
    padding: 10px 0;
    margin:-28px 0 0 0;
}

.form-section, .inventory-section {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select,input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    width: calc(15% - 10px);
    background-color: #DDDDDD;
    margin-left: 25px;
    border-radius: 5px;
    border:none;
}

button {
    padding: 10px;
    background-color: #213458 ;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #1D7D81;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

#totalValue {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}
